{# Advance Directives #}
<h5>Advance Directives</h5>
<table class="hapiPropertyTable">
  <thead>
    <tr>
      <th>Scope</th>
      <th>Status</th>
      <th>Action Controlled</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% from "utility-fragments.j2" import codeableConcept, concatCodeableConcept %}
    {% for entry in resource.entry %}
      {% set consent = entry.resource %}
      {% if consent.resourceType != 'Composition' %}
        {% if consent.extension is defined and consent.extension %}
          {% set extension = consent.extension | selectattr('url', 'equalto', 'http://hl7.org/fhir/StructureDefinition/narrativeLink') | map(attribute='value.value') | list | first %}
        {% else %}
          {% set extension = None %}
        {% endif %}
        <tr id="{{ extension.split('#')[1] if extension }}">
          <td>{{ codeableConcept(consent.scope, 'display') }}</td>
          <td>{{ consent.status.display }}</td>
          <td>{{ concatCodeableConcept(consent.provision.action) }}</td>
          <td>{{ consent.dateTime }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
