{% from "utility-fragments.j2" import codeableConcept, concat, renderTime, narrative_link_id %}

{# History Of Procedures #}
<h5>History Of Procedures</h5>
<table class="hapiPropertyTable">
  <thead>
    <tr>
      <th>Procedure</th>
      <th>Comments</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in resource.entry %}
      {% set proc = entry.resource %}
      {% if proc.resourceType != 'Composition' %}
        {% if proc.extension is defined and proc.extension %}
          {% set extension = proc.extension | selectattr('url', 'equalto', 'http://hl7.org/fhir/StructureDefinition/narrativeLink') | list | first %}
        {% else %}
          {% set extension = None %}
        {% endif %}
        <tr id="{{ narrative_link_id(extension) }}">
          <td>{{ codeableConcept(proc.code, 'display') }}</td>
          <td>{{ concat(proc.note, 'text') }}</td>
          <td>{{ renderTime(proc.performed) }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
