{% from "utility-fragments.j2" import codeableConcept, concatDoseNumber, renderVaccineManufacturer, concat, renderTime %}

{# Immunizations #}
<h5>Immunizations</h5>
<table class="hapiPropertyTable">
  <thead>
    <tr>
      <th>Immunization</th>
      <th>Status</th>
      <th>Dose Number</th>
      <th>Manufacturer</th>
      <th>Lot Number</th>
      <th>Comments</th>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in resource.entry %}
      {% set imm = entry.resource %}
      {% if imm.resourceType == 'Immunization' %}
        {% if imm.extension is defined and imm.extension %}
          {% set extension = imm.extension | selectattr('url', 'equalto', 'http://hl7.org/fhir/StructureDefinition/narrativeLink') | list | first %}
        {% else %}
          {% set extension = None %}
        {% endif %}
        <tr id="{{ extension.value.value.split('#')[1] if extension and extension.value and extension.value.value }}">
          <td>{{ codeableConcept(imm.vaccineCode, 'display') }}</td>
          <td>{{ imm.status }}</td>
          <td>{{ concatDoseNumber(imm.protocolApplied) }}</td>
          <td>{{ renderVaccineManufacturer(imm) }}</td>
          <td>{{ imm.lotNumber }}</td>
          <td>{{ concat(imm.note, 'text') }}</td>
          <td>{{ renderTime(imm.occurrence) }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
