{% from "utility-fragments.j2" import concat %}
{# Plan of Care #}
<h5>Plan of Care</h5>
<table class="hapiPropertyTable">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Intent</th>
      <th>Comments</th>
      <th>Planned Start</th>
      <th>Planned End</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in resource.entry %}
      {% set cp = entry.resource %}
      {% if cp.resourceType != 'Composition' %}
        {% if cp.extension is defined and cp.extension %}
          {% set extension = cp.extension | selectattr('url', 'equalto', 'http://hl7.org/fhir/StructureDefinition/narrativeLink') | map(attribute='value.value') | list | first %}
        {% else %}
          {% set extension = None %}
        {% endif %}
        <tr id="{{ extension.split('#')[1] if extension }}">
          <td>{{ cp.description }}</td>
          <td>{{ cp.intent.code }}</td>
          <td>{{ concat(cp.note, 'text') }}</td>
          <td>{{ cp.period.start }}</td>
          <td>{{ cp.period.end }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </tbody>
</table>
