{# Utility Fragments for Jinja2 #}

{# CodeableConcept Utility #}
{% macro codeableConcept(cc, field=None) %}
  {% if cc is not defined or not cc %}
    {# Always return empty string if undefined/null #}
    {{ '' }}
  {% else %}
    {# If a specific field is requested, use it if available #}
    {% if field is defined and field %}
      {% if cc[field] is defined and cc[field] %}{{ cc[field] }}
      {% elif cc.coding and cc.coding[0][field] is defined and cc.coding[0][field] %}{{ cc.coding[0][field] }}
      {% else %}
        {# Fallback to default order if field not found #}
        {% if cc.text is defined and cc.text %}{{ cc.text }}
        {% elif cc.display is defined and cc.display %}{{ cc.display }}
        {% elif cc.code is defined and cc.code %}{{ cc.code }}
        {% elif cc.coding and cc.coding[0].display is defined and cc.coding[0].display %}{{ cc.coding[0].display }}
        {% elif cc.coding and cc.coding[0].code is defined and cc.coding[0].code %}{{ cc.coding[0].code }}
        {% endif %}
      {% endif %}
    {% else %}
      {# Default order: text, display, code, coding[0].display, coding[0].code #}
      {% if cc.text is defined and cc.text %}{{ cc.text }}
      {% elif cc.display is defined and cc.display %}{{ cc.display }}
      {% elif cc.code is defined and cc.code %}{{ cc.code }}
      {% elif cc.coding and cc.coding[0].display is defined and cc.coding[0].display %}{{ cc.coding[0].display }}
      {% elif cc.coding and cc.coding[0].code is defined and cc.coding[0].code %}{{ cc.coding[0].code }}
      {% endif %}
    {% endif %}
  {% endif %}
{% endmacro %}


{# Render Device #}
{% macro renderDevice(deviceRef) %}
  {%- set device = deviceRef.resolve() if deviceRef and deviceRef.resolve is defined else None -%}
  {% if device and device.resourceType == 'Device' %}
    {{ codeableConcept(device.type, 'display') }}
  {% endif %}
{% endmacro %}

{# Render Organization #}
{% macro renderOrganization(orgRef) %}
  {%- set organization = orgRef.resolve() if orgRef and orgRef.resolve is defined else None -%}
  {% if organization and organization.resourceType == 'Organization' %}
    {{ organization.name }}
  {% endif %}
{% endmacro %}

{# Render Vaccine Manufacturer #}
{% macro renderVaccineManufacturer(immunization) %}
  {%- set organization = immunization.manufacturer.resolve() if immunization.manufacturer and immunization.manufacturer.resolve is defined else None -%}
  {% if organization and organization.resourceType == 'Organization' %}
    {{ organization.name }}
  {% endif %}
{% endmacro %}

{# Render Medication #}
{% macro renderMedication(medicationType) %}
  {# Handle FHIR resource objects with medicationCodeableConcept or medicationReference (e.g., MedicationStatement, MedicationRequest) #}
  {% if medicationType is mapping %}
    {% if medicationType.medicationCodeableConcept is defined and medicationType.medicationCodeableConcept %}
      {{ codeableConcept(medicationType.medicationCodeableConcept) }}
    {% elif medicationType.medicationReference is defined and medicationType.medicationReference %}
      {{ renderMedicationRef({'medication': medicationType.medicationReference}) }}
    {% elif medicationType.medication is defined %}
      {% if medicationType.medication.__class__.__name__ == 'CodeableConcept' %}
        {{ codeableConcept(medicationType.medication, 'display') }}
      {% elif medicationType.medication.__class__.__name__ == 'Reference' %}
        {{ renderMedicationRef(medicationType) }}
      {% endif %}
    {% endif %}
  {% endif %}
{% endmacro %}

{# Render Medication Reference #}
{% macro renderMedicationRef(medicationRef) %}
  {%- set medication = medicationRef.medication.resolve() if medicationRef.medication and medicationRef.medication.resolve is defined else None -%}
  {% if medication %}
    {{ renderMedicationCode(medication) }}
  {% endif %}
{% endmacro %}

{# Render Medication Code #}
{% macro renderMedicationCode(medication) %}
  {% if medication %}
    {{ codeableConcept(medication.code, 'display') }}
  {% endif %}
{% endmacro %}

{# Render Dose Number #}
{% macro renderDoseNumber(doseNumber) %}
  {% if doseNumber %}
    {{ doseNumber.value if doseNumber.value is defined else '' }}
  {% endif %}
{% endmacro %}

{# Render Value #}
{% macro renderValue(value) %}
  {% if value is not defined or not value %}
    {{ '' }}
  {% else %}
    {% if value.__class__.__name__ == 'Quantity' %}{{ value.value if value.value is defined else '' }}{% elif value.__class__.__name__ == 'DateTimeType' %}{{ value.value if value.value is defined else '' }}{% elif value.__class__.__name__ == 'CodeableConcept' %}{{ codeableConcept(value, 'display') }}{% elif value.__class__.__name__ == 'StringType' %}{{ value.value if value.value is defined else '' }}{% endif %}
  {% endif %}
{% endmacro %}

{# Render Value Unit #}
{% macro renderValueUnit(value) %}
  {% if value and value.__class__.__name__ == 'Quantity' %}{{ value.unit }}{% endif %}
{% endmacro %}

{# Render Effective Date #}
{% macro renderEffective(effective) %}
  {% if effective %}{{ effective }}{% endif %}
{% endmacro %}

{# Render Time #}
{% macro renderTime(time) %}
  {% if time is not defined or not time %}{{ '' }}{% else %}{{ time }}{% endif %}
{% endmacro %}

{# Render Recorded Date #}
{% macro renderRecorded(recorded) %}
  {% if recorded %}{{ recorded }}{% endif %}
{% endmacro %}

{# Concat Utility #}
{% macro concat(list, attr) %}
  {% if list is not defined or not list %}
    {{ '' }}
  {% else %}
    {%- set items = [] -%}
    {%- for item in list -%}
      {%- if attr is defined and item[attr] is defined -%}
        {%- set items = items + [item[attr]] -%}
      {%- elif attr is not defined and item is defined -%}
        {%- set items = items + [item] -%}
      {%- endif -%}
    {%- endfor -%}
    {{ items | select('string') | list | join(', ') }}
  {% endif %}
{% endmacro %}

{# Safe Concat Utility #}
{% macro safe_concat(list, attr) %}
  {{ concat(list | default([]), attr) }}
{% endmacro %}

{# Concat CodeableConcept Utility #}
{% macro concatCodeableConcept(list) %}
  {% if list %}
    {%- set items = [] -%}
    {%- for item in list -%}
      {%- if item.text is defined and item.text -%}
        {%- set items = items + [item.text] -%}
      {%- endif -%}
    {%- endfor -%}
    {{ items | select('string') | list | join(', ') }}
  {% endif %}
{% endmacro %}

{# Concat Reaction Manifestation Utility #}
{% macro concatReactionManifestation(list) %}
  {% set safeList = list | default([]) %}
  {% if safeList %}
    {{ safeList | map(attribute='manifestation') | map(attribute=0) | map(attribute='text') | join(', ') }}
  {% endif %}
{% endmacro %}

{# Concat Dose Number Utility #}
{% macro concatDoseNumber(list) %}
  {% if list %}
    {{ list | map(attribute='doseNumberPositiveInt') | join(', ') }}
  {% endif %}
{% endmacro %}

{# Concat Dosage Route Utility #}
{% macro concatDosageRoute(list) %}
  {% if list %}
    {{ list | map(attribute='route') | map(attribute='text') | join(', ') }}
  {% endif %}
{% endmacro %}

{# First From CodeableConcept List Utility #}
{% macro firstFromCodeableConceptList(list) %}
  {% if list and list[0] %}{{ codeableConcept(list[0], 'display') }}{% endif %}
{% endmacro %}

{# Concat Reference Range Utility #}
{% macro concatReferenceRange(list) %}
  {% if list %}
    {{ list | map(attribute='text') | join(', ') }}
  {% endif %}
{% endmacro %}

{# Render Component Utility #}
{% macro renderComponent(list) %}
  {% if list %}
    {{ list | map(attribute='code') | map(attribute='text') | join(', ') }}
  {% endif %}
{% endmacro %}

{# Macro to safely extract narrative link id from extension #}
{% macro narrative_link_id(extension) %}
  {%- if extension is mapping and extension.value is defined and extension.value.value is defined and extension.value.value is string and '#' in extension.value.value -%}
    {{ extension.value.value.split('#')[1] }}
  {%- else -%}
    {{ '' }}
  {%- endif -%}
{% endmacro %}
